package ${package_name}.service;

import com.lxb.common.base.BaseService;
import ${package_name}.model.${model};
import ${package_name}.model.${model}Example;

/**
* @Description ${model}Service接口
* @Author ${author}
* @Date  ${ctime}
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}